header{

    background-color: #565b5a;
    color: white;
    text-align: center;
    font-family: "PT Sans", "Book Antiqua", Palatino, serif;
    font-size: 60px;
    letter-spacing: 5px;
}

header::first-letter {
    color: #e8c264;
    font-size: 90px;
}

#customers {            
    font-family: "PT Sans", Arial Narrow, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.0em;
    word-wrap: break-word;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
#customers tr {
    text-align: left;
}
#laatst {
    background-color: whitesmoke;
    font-style: oblique;
    font-weight: bold;
    color: #04013b;
    color: black;
    width: 300px;
    padding: 25px;
    margin: 25px;
}

.center {
    margin: auto;
    width: 60%;
    font-style: oblique;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fce718;
    padding: 1px;
    background-color: #f7f783;
    box-shadow: 0 3px #999;
    color: #04013b;
    width: 600px;
}

pre {
    color: white;
}
#customers tr:nth-child(even){background-color: #87daed;}
#customers tr:nth-child(odd){background-color: #c3edf7;}

#customers tr:hover {background-color: #687677;
                     color: white;
}
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #687677;
    color: white;
}

body {background-color: #565b5a;}

.topnav {
    background-color: #687677;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


    font-size: 17px;
}

.topnav a:hover {
    background-color: #e8c264;
    color: black;
}

#table.notities{
    padding-top: 20px;
}

.button {
    padding: 2px 15px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #e8c264;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
}

.button:hover {
    background-color: white;
    color: #e8c264;   
}

.button:active {
    background-color: white;
    box-shadow: 0 5px #f2f2f2;
    transform: translateY(2px);
}

.button1 {
    padding: 2px 15px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #fce718;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
}

.button1:hover {
    background-color: #f7f783;
    color: black;   
}

.button1:active {
    background-color: #c3edf7;
    box-shadow: 0 5px #f7f783;
    transform: translateY(2px);
}